*{
    margin: 0px;
    padding: 0px;
  }
  
  .main{
      text-align: center;
  }
  h1{
    padding-top: 50px;
    padding-bottom: 50px;
  }

.card {
    height: 400px; /* Your height here */
    overflow: hidden;
}

.card-image {
    height: 250px; /* Your height here */
    overflow: hidden;
}


